@import './partials/colors';

$font-family: 'Comic Sans MS', cursive, sans-serif;

body {
  font-family: $font-family;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  text-align: center;
  margin-bottom: 20px;

  &__title {
    font-size: 2.5rem;
    color: $card-border-color;
    margin: 0;
  }
}

.restaurants {
  display: flex;
  gap: 1.25rem;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

article {
  background-color: $card-default-color;
  border: 2px solid $card-border-color;
  border-radius: 15px;
  width: 100%; 
  max-width: 300px; 
  height: 380px; 
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;

  .image-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%; 
      height: 100%; 
      object-fit: cover;
      object-position: center;
    }
  }

  .content {
    height: 50%; 
    padding: 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;

    h2 {
      font-size: 0.9rem; 
      margin: 5px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    p {
      font-size: 0.8rem; 
      margin: 0.3125rem 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &:hover {
    background-color: $card-hover-color;
    cursor: pointer;
  }

  &.clicked {
    animation: clickEffect 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
    background-color: $card-default-color;
  }
  50% {
    transform: scale(1.1);
    background-color: $card-click-color;
  }
  100% {
    transform: scale(1);
    background-color: $card-default-color;
  }
}

@media (min-width: 768px) {
  .restaurants {
    gap: 15px;
  }

  article {
    width: 260px; 
    height: 400px; 
  }

  .image-container {
    height: 45%; 
  }

  .content {
    height: 55%; 
  }

  h2 {
    font-size: 1rem; 
  }

  p {
    font-size: 0.85rem;
  }
}

@media (min-width: 1024px) {
  article {
    width: 300px; 
    height: 450px; 
  }

  .image-container {
    height: 40%; 
  }

  .content {
    height: 60%; 
  }

  h2 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.9rem;
  }
}